.easel-warning-box {
  margin: 1em 0;
  padding: 1em;
  background-color: var(--danger-low);
  border: 1px solid var(--danger);
  border-radius: 4px;
  color: var(--primary);

  .warning-message {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;

    i {
      color: var(--danger);
    }
  }
} 